# Flask Web Framework
flask
flask-cors
gunicorn

# Data Handling and Analysis
pandas
numpy
openpyxl

# Web Scraping and Parsing
requests
beautifulsoup4

# Image Processing and Captcha Solving
Pillow
ddddocr

# Database
pymysql
python-dotenv
